server.port=8080 # Port d'écoute HTTP
web.maxUploadSize=2500000 # Taille maximum des fichiers pour upload

ocr.mode=tesseract # Le type d'OCR à utiliser
ocr.tesseract.dataPath=C:\\workspace\\tessdata # Répertoire dans lequel rechercher les fichiers .trainedata
ocr.tesseract.language=eng # Langue à interpréter par Tesseract