server.port=8080 # Port d'écoute HTTP
server.servlet.context-path=/ # Path de l'application
web.maxUploadSize=2500000 # Taille maximum des fichiers pour upload

ocr.tesseract.dataPath=C:\\workspace\\tessdata # Répertoire dans lequel rechercher les fichiers .trainedata
ocr.tesseract.language=eng # Langue à interpréter par Tesseract